/* ========================== */
/* CONFIGURAÇÃO GERAL */
/* ========================== */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
h1 {
    margin-bottom: 5px;
}
h2 {
    margin-top: 40px;
}
/* ========================== */
/* 1. BLOCK */
/* ========================== */
/* Ocupa toda a largura disponivel (ex: div,p, h1) */
.block {
    display: block;
    background-color: rgb(252, 189, 198);
    padding: 15px;
    margin: 5px;
    border: 2px solid rgb(211, 100, 118);
}

/* ========================== */
/* 2. INLINE */
/* ========================== */
/* Ocupa só o espaço do conteúdo */

.Inline {
    display: inline;
    background-color: rgb(247, 247, 213);
    padding: 20px;
    border: 2px solid rgb(231, 215, 73);
}

/* ========================== */
/* 3. INLINE BLOCK*/
/* ========================== */
/* Ocupa só o espaço do conteúdo, permite controlar o width e height */

.Inline-Block {
    display: inline-block;
    width: 60px;
    background-color: rgb(210, 232, 250);
    padding: 10px;
    margin: 5px;
    border: 2px solid rgb(49, 0, 128);
}